'.php':
  'Load CI View':
    'prefix': 'clv'
    'body': """
               $this->load->view('${1:viewname}');
               $0
               """

  'Load CI Model':
    'prefix': 'clm'
    'body': """
               $this->load->model('${1:model}');
               """

  'Load CI Helper':
    'prefix': 'clh'
    'body': """
               $this->load->helper('${1:helper}');
               """

  'Load CI Library':
    'prefix': 'cll'
    'body': """
               $this->load->library('${1:library}');
               """
