'.php':
  'Codeigniter Anchor':
    'prefix': 'can'
    'body': "anchor('${1:url}', '${2:linkname}');$0"
  'New Documentation':
    'prefix': 'doc'
    'body': """
               /**
               * @param ${1:datatype} $${2:$var} ${3:description}
               * @return ${4:datatype}
               */ $0 """
  'Public function':
    'prefix': 'public'
    'body': """
               public function ${1:name}(${2})
               {
                   ${0:#code}
               }
               """
  'Private function':
    'prefix': 'private'
    'body': """
               private function ${1:name}(${2})
               {
                   ${0:#code}
               }
               """
  'Protected function':
    'prefix': 'protected'
    'body': """
              protected function ${1:name}(${2})
              {
                  ${0:#code}
              }
              """
  '$this':
    'prefix': 'this'
    'body': '$this->$0'
  'redirect()':
    'prefx': 'redirect'
    'body': 'redirect()$0'
  'base_url()':
    'prefix': 'base'
    'body': 'base_url()$0'
